.jse-home {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	font-size: 2rem;
	background: #eee;
	.jse-home-header {
		flex-basis: 10%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-size: 1.5rem;
		background: #ddd;
		span {
			margin:0 1rem;
		}
	}
	.jse-home-main {
		flex-basis: 90%;
		display: flex;
		.jse-home-body {
			flex-basis: 70%;
			display: flex;
			justify-content: center;
			align-items: center;
			.jse-home-content {
				width: 100%;
				height: 80%;
				display: flex;
				background: #75eb85;
				color: white;
				justify-content: center;
				align-items: center;
				img {
					width: 100%;
					height: 100%;
					display: block;
				}
			}
		}
		.jse-home-sidebar {
			flex-basis: 30%;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			& > .jse-home-sidebar-pay-img {
				.jse-home-sidebar-pay-img-item {
					width: 50%;
					margin: 0 auto;
					&:first-child {
						margin-bottom: 2rem;
					}
					img {
						width: 100%;
					}
					p {
						text-align: center;
						height: 3rem;
						line-height: 3rem;
						color: #4fb75d;
					}
				}

			}
		}
	}

}
.message-page() {
	width: 100%;
	height: 70%;
	background: #75eb85;
	justify-content: center;
	align-items: center;
	display: flex;
	font-size: 2rem;
	color: white
}
.jse-pay-success-page {
	.message-page();
}

.jse-pay-failed-page {
	.message-page();
}